/* You can add global styles to this file, and also import other style files */
/* Apply the Google Font to the entire application */

.quicksand-unique {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
